<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HelloFresh Web Test Suite" parallel="classes" thread-count="3">
    <test name="Chrome Test on Windows">
        <parameter name="browser" value="chrome"/>
        <parameter name="os" value="windows"/>
        <classes>
            <class name="com.hf.test.SignInTest"/>
            <class name="com.hf.test.LogInTest"/>
            <class name="com.hf.test.CheckoutTest"/>
        </classes>
    </test>
<!--    <test name="Firefox Test on Windows">
        <parameter name="browser" value="firefox"/>
        <parameter name="os" value="windows"/>
        <classes>
            <class name="com.hf.test.SignInTest"/>
            <class name="com.hf.test.LogInTest"/>
            <class name="com.hf.test.CheckoutTest"/>
        </classes>
    </test>
    <test name="Chrome Test on Mac">
        <parameter name="browser" value="chrome"/>
        <parameter name="os" value="mac"/>
        <classes>
            <class name="com.hf.test.SignInTest"/>
            <class name="com.hf.test.LogInTest"/>
            <class name="com.hf.test.CheckoutTest"/>
        </classes>
    </test> -->
</suite>